---
description: {{COMMAND_DESCRIPTION}}
---

# {{COMMAND_NAME}}

{{COMMAND_INSTRUCTIONS}}

## Usage

```
/{{PLUGIN_NAME}}:{{COMMAND_SLUG}} [arguments]
```

## Examples

- Example usage 1
- Example usage 2
